body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: cornsilk;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a{
  position: absolute;
  top: -3em;
  background-color: black;
  color:white;
  padding: .5em 1em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus{
  top: 0;
}

header h1 {
  font-size: 3rem;
  text-align: center;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: .5rem 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  padding: .5em;
}

.main-nav ul li a:hover {
  color: cornsilk;
  background-color: rgb(60, 0, 0);
}

.owner,
.address,
.contact-section {
  margin: 3rem 0;
}

.owner ul li {
  padding: .2em 0;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid rgb(60, 0, 0);
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.1em;
  background-color: rgb(60, 0, 0);
  color: cornsilk;
}

.site-footer {
  padding: 2rem 0;
  text-align: right;
}

footer a {
  color: brown;
}